.FilterPanel {
  margin-top: 2.3rem;
}

.title {
  color: black;
  -webkit-text-fill-color: #eee; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #aa30db;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 35px;
  font-weight: 600;
  font-family: open Sans sans-serif;
}
.title:hover {
  -webkit-text-fill-color: #aa30db; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #9936c0;
  transform: scale(1.2);
  transition: transform 0.2s;
}

.Accordion {
  margin-bottom: 1.7rem;
}

.label {
  font-size: 20px;
  font-weight: 400;
  font-family: open Sans sans-serif;
}
.input-group {
  margin-bottom: 1.2rem;
  font-size: 8px;
}
.label-range {
  margin-bottom: 1.5rem;
  font-size: 8px;
}
