.listItem-wrap {
  position: relative;
  display: inline-flex;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  flex-direction: column;
  flex: auto;
  color: rgb(55 65 81);
  padding: 0.6rem;
  font-family: open Sans sans-serif;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  cursor: pointer;
}

.button {
  position: absolute;
  top: 40px;
  right: 30px;
  padding: 5 px;
  color: #d1c5d9;
}

.listItem-wrap:hover {
  background-color: #f2f1f1;
  transform: scale(1.03);
  transition: transform 0.2s;
  color: #9603ff !important;
}

.listItem-wrap h1:hover {
  text-decoration: underline;
}

h1 {
  float: left;
  margin: 0rem 0 1.5rem 0;
  align-items: center;
  font-size: 23px;
  font-family: open Sans sans-serif;
  border-radius: 10px;
}

.listItem-wrap footer {
  font-size: 1rem;
  display: flex;
  color: rgb(55 65 81);
  flex-direction: column;
  font-family: open Sans sans-serif;
  justify-content: start;
}

.listItem-wrap footer p:first-child span {
  color: #a25b5b;
  font-weight: 300;
  text-decoration: none !important;
}
.language {
  margin-top: 0.2rem;
  font-weight: 300;
  text-decoration: none !important;
}
.language span {
  color: #a25b5b;
  text-decoration: none !important;
}
