.searchBar-wrap {
  display: flex;
  align-items: center;
  height: 50px !important;
  border-style: none;
  margin-left: 14rem;
  margin-top: 0;
  padding: 1.5rem 12rem;
}
.searchBar-icon {
  color: rgba(11, 34, 188, 0.7);
}

.searchBar-wrap input {
  font-size: 1.5rem;
  outline: none;
  border: none;
}

.searchBar-wrap input::placeholder {
  color: rgb(0, 0, 0);
}
