.home_panelList-wrap,
.home_panel-wrap,
.home_list-wrap {
  overflow-y: auto;
}

.home_panelList-wrap {
  flex: 1;
  display: flex;
}

.home_panel-wrap {
  position: relative;
  background-color: #c8c5c5;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  flex-basis: 280px;
  box-shadow: 2px 2px 2px 2px #717171;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .home_panel-wrap {
    display: none !important;
  }
}

.home_list-wrap {
  background-color: #e7e6e6;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  flex: 1;
  padding: 1rem;
}

.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-right: 5rem;
}
