.chart1 {
  width: 60%;
  height: 250px;
  margin: 50px 0 0 50px;
}

.chart2 {
  width: 60%;
  height: 250px;
  margin: 50px 0 0 50px;
}

.piechart {
  width: 60%;
  height: 500px;
  margin: 50px 0 50px 50px;
}
