.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home_panelList-wrap,
.home_panel-wrap,
.home_list-wrap {
  overflow-y: auto;
}

.home_panelList-wrap {
  flex: 1;
  display: flex;
}
.home_panel-wrap {
  background-color: rgb(255, 255, 255);
  flex-basis: 280px;
  padding: 1rem;
}
.home_list-wrap {
  background: #eee;
  flex: 1;
  padding: 1rem;
}

.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-right: 5rem;
}
