.listItem-wrap1 {
  position: relative;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  flex-direction: column;
  color: rgb(55 65 81);
  padding: 0.6rem;
  padding-bottom: 1rem;
  box-shadow: 5px 3px 5px rgb(46, 45, 45);
  cursor: pointer;
  text-decoration: none !important;
}

.listItem-wrap1:hover {
  background-color: #fbfbfb;
  transform: scale(1.03);
  transition: transform 0.2s;
  color: #9603ff !important;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
h1 {
  width: auto;
  display: inline;
  float: left;
  margin: 0rem 0 0.7rem 0;
  align-items: center;
  font-size: 23px;
  border-radius: 10px;
}

.left {
  width: 70%;
}

.footer {
  font-size: 20px;
  display: flex;
  height: auto;
  line-height: 35px;
  color: rgb(55 65 81);
  flex-direction: row;
}

.first {
  height: auto;
  font-weight: 500;
  text-decoration: none !important;
}

.first span {
  margin: 0px 10px 10px 0px;
  padding: 0px 5px 0px 9px;
  font-weight: 550 !important;
  border: 1px solid #e8d7ef;
  border-radius: 5px;
  font-size: 19px;
  color: rgb(55, 65, 81);
  box-shadow: 0 1px 1px rgb(138, 137, 137);
  height: 1.5rem;
  width: auto;
  position: relative;
}

.number {
  height: auto;
  font-weight: 500;
}

.number span {
  margin: 0px 10px 10px 17px;
  padding: 0px 5px 0px 9px;
  font-weight: 550 !important;
  border: 1px solid #e8d7ef;

  border-radius: 5px;
  font-size: 19px;
  color: rgb(55, 65, 81);
  box-shadow: 0 1px 1px rgb(138, 137, 137);

  width: auto;
  position: relative;
}
.time {
  margin-right: 0;
}

.technology {
  height: auto;
  font-weight: 500;
  text-decoration: none !important;
}

.technology span {
  margin: 0px 10px 10px 0px;
  padding: 0px 5px 0px 9px;
  font-weight: 550 !important;
  border: 1px solid #e8d7ef;
  background-color: #e3ccec;
  border-radius: 5px;
  font-size: 19px;
  color: rgb(55, 65, 81);
  box-shadow: 0 1px 1px rgb(138, 137, 137);
  height: 1.5rem;
  width: auto;
  position: relative;
}
